@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Karla&family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--nunito: 'Nunito', sans-serif;
	--karla: 'Karla', sans-serif;
	--maven: 'Maven Pro', sans-serif;
	--text-primary: #1b4332;
	--text-primary-variant: #04130d;
	--text-secondary: #0b4129;
	--text-secondary-variant: #006337;
	--bg-primary: #d8f3dc;
	--bg-primary-variant: #52b788;
	--bg-primary-variant-transP: #52b788dc;
	--bg-secondary: #081c15;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	margin: 0 0;
	padding: 0;
	width: 100%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 0.4s ease-in-out;
}

.slide-in {
	position: relative;
	animation: slideIn 0.6s ease-in-out;
	display: flex;
	right: 0;
}

@keyframes slideIn {
	from {
		right: 10%;
	}
	to {
		right: 0;
	}
}
