@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Karla&family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 214, 219, 220;
		--background-end-rgb: 255, 255, 255;
		--nunito: 'Nunito', sans-serif;
		--karla: 'Karla', sans-serif;
		--maven: 'Maven Pro', sans-serif;
		--text-primary: #1b4332;
		--text-primary-variant: #04130d;
		--text-secondary: #0b4129;
		--text-secondary-variant: #006337;
		--border: #52b788dc;
		--bg-primary: #d8f3dc;
		--bg-primary-variant: #52b788;
		--bg-primary-variant-transP: #52b788dc;
		--bg-secondary: #081c15;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	margin: 0 0;
	padding: 0;
	width: 100%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 0.4s ease-in-out;
}

.slide-in {
	position: relative;
	animation: slideIn 0.6s ease-in-out;
	display: flex;
	right: 0;
}

.slide-down {
	animation: slideDown 0.6s ease-in-out;
	bottom: 0;
}

@keyframes slideIn {
	from {
		right: 10%;
	}
	to {
		right: 0;
	}
}

@keyframes slideDown {
	from {
		bottom: 100%;
	}
	to {
		bottom: 0;
	}
}
